.main {
  margin-top: 60px;
  padding: 20px;
}

@media (max-width: 1199px) {
  .main {
    padding: 5px;
  }
}

.row {
  --bs-gutter-x: 5px;
  --bs-gutter-y: 0;
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: left;
}
